main {
    min-height: calc(100vh - 160px);
  }

  #contenedor {
    border: 1px solid lightgray; /* Color del borde, debe ser más claro que fondo */
    background:lightgray; /* Fondo */
    width:min-content
  }